#section-help {
  padding: 2em .5em;
  margin: 50px 0;
}

.section-help {
  background-color: #E6F4FF;
  max-width: 100%;
  height: 100%;

  .help-container {
    display: flex;
    flex-wrap: wrap;

    .items-help {
      display: flex;

      .image-help {
        img {
          width: 100px;
          height: auto;
          border: 3px solid white;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }

    .text-help {
      display: flex;
      flex-wrap: wrap;

      h4 {
        font-size: 15px;
        font-weight: 500;
      }

      h5 {
        font-size: 13px;
        font-weight: 300;
        line-height: 30px;
      }

      .button-help {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
          cursor: pointer;
          color: #016CB6;
          font-size: 13px;
          margin: 10px 15px 10px 0;
          font-weight: 500;
        }
      }
    }
  }
}
