/*
----------GENERAL RULES----------
 */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: #fdf5df;
    padding: 5em;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/*
----------GRID----------
 */

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4,auto);
    grid-gap: 1.5em;
}

header,
nav {
    grid-column: 1/3;
    grid-row: span 1;
}

main {
    grid-column: 1/2;
    grid-row: 3/5;
}

.sidebar-top {
    grid-column: 2/3;
    grid-row: 3/4;
}

.sidebar-bottom {
    grid-column: 2/3;
    grid-row: 4/5;
}

/*
----------NAV BAR----------
 */

nav .site-nav {
    background-color: #5EBEC4;
    display: flex;
    padding: 25px 0;
    list-style-type: none;
    border-radius: 5px;
}

nav .site-nav a {
    text-decoration: none;
    margin-left: 15px;
    background-color: #3894FF;
    padding: 10px 15px;
    border-radius: 5px;
    color: navajowhite;
}

nav .site-nav .nav-right {
    margin-left: auto;
    margin-right: 15px;
}

nav .site-nav a:hover {
    background-color: #fdf5df;
    color: #3894FF;
    transition: .3s;
}

/*
----------MAIN----------
 */

header h1 {
    text-align: center;
    color: #3894FF;
    font-size: 50px;
}

main {
    background-color: #5EBEC4;
    padding: 20px;
    border-radius: 5px;
    color: #fdf5df;
}

main h1 {
    margin-bottom: 20px;
}

/*
----------SIDEBAR TOP----------
 */

.sidebar-top {
    background-color: #5EBEC4;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}

.sidebar-top h3 {
    margin-top: 10px;
    text-align: right;
    margin-right: 15px;
    color: #fdf5df;
}

.sidebar-top h3:hover {
    color: #3894FF;
    transition: .6s;
}

.sidebar-top .username {
    margin-top: 30px;
    border: transparent;
    padding: .5em 3em;
    margin-bottom: 5px;
    border-radius: 5px;
}

.sidebar-top .password {
    margin-top: 5px;
    border: transparent;
    padding: .5em 3em;
    border-radius: 5px;
}

.sidebar-top button {
    margin-top: 20px;
    border: transparent;
    padding: .5em 5em;
    border-radius: 5px;
    background-color: #fdf5df;
    color: #3894FF;
}

.sidebar-top button:hover {
    background-color: #3894FF;
    color: #fdf5df;
    transition: .3s;
}

/*
----------SIDEBAR BOTTOM----------
 */

.sidebar-bottom {
    background-color: #5EBEC4;
    border-radius: 5px;
}

.sidebar-bottom small {
    display: flex;
    justify-content: center;
    padding: .5em 0;
    color: #fdf5df;
    font-size: 20px;
}

.sidebar-bottom .cost {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 1.5em 0;
    color: #fdf5df;
}

.sidebar-bottom .cost-currency {
    font-size: 1.8em;
    margin-top: 13px;
    margin-right: 2px;
}

.sidebar-bottom .cost-euro {
    font-size: 3em;
}

.sidebar-bottom .cost-cents {
    font-size: 20px;
    margin-top: 8px;
}

.cta-button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 8px;
    color: #3894FF;
    background-color: #fdf5df;
    border-radius: 5px;
    margin: 15px 90px;
}

.cta-button:hover {
    background-color: #3894FF;
    color: #fdf5df;
    transition: .3s;
}








